{
  "*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "package.json": ["prettier --write"],
  "*.vue": ["eslint", "prettier --write", "stylelint"],
  "*.{scss,less,css,html}": ["prettier --write", "stylelint"],
  "*.md": ["prettier --write"]
}
