{
  "src/*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "package.json": ["prettier --write"],
  "src/*.vue": ["eslint", "stylelint --fix", "prettier --write"],
  "src/*.{scss,less,css,html}": ["stylelint --fix", "prettier --write"],
  "src/*.md": ["prettier --write"]
}
