{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "color-function-notation": null,
    "alpha-value-notation": null,
    "color-hex-length": null,
    "rule-empty-line-before": null,
    "selector-class-pattern": null,
    "no-descending-specificity": null
  },
  "ignoreFiles": ["node_modules", "bower_components", "public/**/*"]
}
