<template>
  <div class="{{lowerCase module}}-wrap">{{text}}</div>
</template>
<script lang="ts" setup>
const store = use{{properCase module}}Store();
</script>
<style lang="scss" scoped>
.{{lowerCase module}}-wrap {
}
</style>
