<template>
  <div class="no-component no-{{lowerCase code}}">{{pascalCase code}}</div>
</template>
<script lang="ts" setup></script>
<style lang="scss" scoped>
.no-component.no-{{lowerCase code}} {
}
</style>
