<template>
  <div class="{{lowerCase code}}-wrap">{{text}}</div>
</template>
<script lang="ts" setup>
const store = use{{properCase code}}Store();
</script>
<style lang="scss" scoped>
.{{lowerCase code}}-wrap {
}
</style>
